{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% load favor_tags %}
{% block title %}{{ blog.title }}{% endblock %}
{% block blogs_list_active %}active{% endblock %}
{% block header_extends %}<link rel="stylesheet" href={% static 'blog.css' %}> {% endblock %}
{% block content %}
<!-- {{ request.COOKIES }} -->
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1"> 
            <div class="panel panel-default">    
                <div class="panel-heading">       
                    <h3>{{ blog.title }}</h3>
                    <ul class="blog-info">
                        <li>作者: {{ blog.author }}</li>
                        <li>分类: 
                        {% for blog_type in blog.blog_type.all %}
                            <a href={% url 'blogs_by_type' blog_type.id %}>{{ blog_type }}</a>&nbsp;{% endfor %}
                        </li>
                        <li>发表时间: {{ blog.created_time | date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;&nbsp;阅读:{{ blog.get_read_num }}&nbsp;&nbsp;&nbsp;&nbsp;评论:{% get_comment_count blog %}
                        </li>{% if request.session.is_supuser %}
                         <li><a href="{% url 'edit' blog.id %}">编辑</a></li>{% endif %}
                    </ul>
                </div> 
                <div class="panel-body">
                    <div class="blog-content">{{ blog.content | safe }}
                    </div>
                   <!--  {% autoescape off %}<div class="blog-content">{{ blog.content}}
                    </div>{% endautoescape %} -->
                    <div class="favor" onclick="favor_count(this, 'blog', 
                    '{{ blog.id }}')">
                        <span class="glyphicon glyphicon-thumbs-up {% get_favor_status blog request %}"></span>
                        <span class="favor_num">{% get_favor_num blog %}</span>
                        <span>喜欢</span>
                    </div>
                    <div class="blog-more">
                        {% if previous_blog %}
                            <p>上一篇:<a href="{% url 'blog_detail' previous_blog.id %}">{{ previous_blog.title }}</a></p>
                        {% else %}
                            <p>上一篇:没有了!</p>
                        {% endif %}
                        {% if next_blog %}
                            <p>下一篇:<a href="{% url 'blog_detail' next_blog.id %}">{{ next_blog.title }}</a></p>
                        {% else %}
                            <p>下一篇:没有了!</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- {{ request.COOKIES }} -->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="comment-area">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="comment-area-title">添加评论</h3>
                    </div>
                    <!-- sessionkey可能还存在于session表中,但没有对应的键值 -->
                    <div class="panel-body">
                        {% if request.session.username %}
                            <form id="comment-form" style="overflow:hidden;">
                                {% csrf_token %}
                                <label>{{ request.session.username }}~,欢迎评论！！</label> 
                                <div id="reply-content-container" style="display: none">
                                    <a style="float: right;margin-bottom: 1em" href="javascript:cancel();" class="btn btn-default">取消回复</a>
                                    <p>回复:<span id="username-area"></span></p>
                                    <div id="reply-content">
                                    </div>
                                </div>
                                {% get_comment_form blog as comment_form %}
                                {% for field in comment_form %}
                                    {{ field }}
                                {% endfor %}
                                <span id='comment-error' class='text-danger pull-left'></span>
                            </form>
                             <button id="submit_comment" type="button" class="btn btn-primary"  style="float: right;">
                                 评论
                             </button>
                        {% else %}
                            <h4>未登录,请登录后评论!</h4>
                            <a href="{% url 'login' %}?from={{ request.get_full_path }}" class="btn btn-primary">登录</a>&nbsp;或&nbsp;<a href="{% url 'regist' %}?from={{ request.get_full_path }}" class="btn btn-danger">注册</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="comment-area">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="comment-area-title">评论列表</h3>
                        {% if not request.session.username %}
                            <span>登录后方可回复</span>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <span id='comment-list'>
                        {% get_comments blog as comments %}
                        {% for comment in comments %}
                            <div id="root-{{ comment.id }}" class="comment">
                                <span id="user-{{comment.id}}">
                                    <img src="{{ comment.user.get_avatar_url }}" width="32px" class="img-circle">{{comment.user}}</span>&nbsp;({{comment.create_time | date:"Y-m-d H:i:s"}}):&nbsp;
                                <div id="comment-{{ comment.id }}" style="padding-left: 3em;">
                                    {{ comment.content | safe}}
                                </div>
                                <div class="favor" onclick="favor_count(this, 'comment', {{ comment.id }})">
                                    <span class="glyphicon glyphicon-thumbs-up {% get_favor_status comment request %}"></span>
                                    <span class="favor_num">{% get_favor_num comment %}</span>
                                    
                                </div>
                                <a href="{% if request.session.username %}javascript:reply({{ comment.id }});{% else %}javascript:void(0);{% endif %}"">回复</a>
                                {% for reply in comment.root_comment.all %}
                                <div class="reply"">
                                    <span id="user-{{reply.id}}"><img src="{{reply.user.get_avatar_url}}" class="img-circle" width="32px">{{ reply.user.username }}</span>&nbsp;({{ reply.create_time | date:"Y-m-d H:i:s" }})回复: <span>{{reply.reply_to.username }}</span>&nbsp;
                                    <div id="comment-{{ reply.id }}" style="padding-left: 3em">
                                        {{ reply.content | safe }}
                                    </div>
                                    <div class="favor" onclick="favor_count(this, 'comment', '{{ reply.id }}')">
                                        <span class="glyphicon glyphicon-thumbs-up {% get_favor_status reply request %}"></span>
                                        <span class="favor_num">{% get_favor_num reply %}</span>
                                    </div>
                                    <a href="{% if request.session.username %}javascript:reply({{ reply.id }});{% else %}javascript:void(0);{% endif %}">回复</a>
                                </div>
                                {% endfor %}
                            </div>
                           
                        {% empty %}
                            <div id="point">暂无评论！</div>
                        {% endfor %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% block scriptarea %}
    <script type="text/javascript">
    //也可选择后端来返回拼接字符串 
    String.prototype.format = function(){
        var str = this;
        for(var i=0;i<arguments.length;i++){
            var str = str.replace(new RegExp('\\{'+i+'\\}', 'g'), arguments[i]);
        }
        return str;
    }
    // 防止重复请求
    $("#submit_comment").unbind('click').click(function(){
        $('#comment-error').text('')
        // 更新评论内容到textarea
        CKEDITOR.instances.id_comment_content.updateElement();
        console.log($('#comment-form').serialize())
        // if(CKEDITOR.instances.id_comment_content.document.getBody().getText().trim()==''){
        //     $('#comment-error').text('评论内容不能为空');
        //     return false;
        // };
        $(this).addClass('disabled');
        $.ajax({
        url: "{% url 'update_comment' %}",
        type: "POST",
        data: $('#comment-form').serialize(),
        cache: false,
        success: data=>{
            console.log(data.status);
            if(data.status == 'SUCCESS'){
                $('#point').remove();
                if($('#reply_comment_id').val() == '0'){
                    //root评论
                    // $('a').parent(selctor)
                    // 前端拼接
                var comment_html = 
                    '<div id="root-{0}" class="comment">'+
                    '<img src="{4}" width="32px"  class="img-circle"/>'+
                    '<span id="user-{0}">{1}</span>({2}):'+
                    '<div id="comment-{0}" style="padding-left:3em;">{3}</div>'+
                    '<div class="favor" onclick="favor_count(this,\'comment\',{0})">'+
                    '<span class="glyphicon glyphicon-thumbs-up"></span> '+
                    '<span class="favor_num">0</span>'+
                    '</div>'+
                    ' <a href="javascript:reply({0});"> 回复</a></div>';

                var comment_html = comment_html.format(data.id, data.username, data.comment_time, data.comment_content, data.avatar_url)
                 $('#comment-list').prepend(comment_html);
                }else{
                    //回复
                    // $('a').parent(selctor)
                var reply_html = 
                '<div class="reply">'+
                '<img src="{5}" class="img-circle" width="32px"/>'+
                '<span id="user-{0}">{1}</span> ({2})回复: '+
                '<span>{3}</span>'+
                '<div id="comment-{0}" style="padding-left:3em;">{4}</div>'+
                '<div class="favor" onclick="favor_count(this,\'comment\',{0})">'+
                '<span class="glyphicon glyphicon-thumbs-up"></span> '+
                '<span class="favor_num">0</span>'+
                '</div>'+
                ' <a href="javascript:reply({0});">回复</a></div>';
                 var reply_html = reply_html.format(data.id, data.username, data.comment_time, data.reply_to, data.comment_content, data.avatar_url, data.reply_avatar_url);
                 $('#root-'+data.root_id).append(reply_html)
                }
                $('#reply-content-container').hide();
                $('#reply_comment_id').val('0');
                $(this).removeClass('disabled');
                CKEDITOR.instances.id_comment_content.setData('')
            }else{
                $('#comment-error').text(data.message)
            }
        },
        error: function(xhr){
            console.log(xhr);
        },
        });

        return false;
    });
    //回复
    // function reply(obj, comment_id){}???
    function reply(reply_comment_id){
        $('#reply_comment_id').val(reply_comment_id);
        var html = $('#comment-'+reply_comment_id).html();
        $('#reply-content').html(html);
        $('#reply-content-container').show();
        // 聚焦到评论框
        $('html').animate({scrollTop: $('#comment-form').offset().top - 60}, 300, function(){
            CKEDITOR.instances.id_comment_content.focus();
        });
        // 获取回复的用户名
        var username = $('#user-'+reply_comment_id).text();
        $('#username-area').text(username);
    }
    //取消回复
    function cancel(){
        $('#reply-content-container').hide();
        // 修改为root评论
        $('#reply_comment_id').val('0');
        CKEDITOR.instances.id_comment_content.setData('');
    }
    function favor_count(obj, content_type, object_id){
        // 判断是否存在class=active的标签
        is_active = $(obj).children('.active').length != 0;
        $.ajax({
            url:"{% url 'favor_count' %}",
            type: 'GET',
            data:{
                'content_type':content_type,
                'object_id':object_id,
                'is_active':is_active,
            },
            cache: false,
            success: function(data){
                // console.log(data);
                if(data.status=='Success'){
                    if(!is_active){
                        $(obj).children('.glyphicon').addClass('active');       
                    }else{
                        $(obj).children('.glyphicon').removeClass('active');  
                    }
                    $(obj).children('.favor_num').text(data.message);
                }else{
                    alert(data.message);
                    console.log(data);
                }
            },
            error: function(xhr){

            }
        });
    }
    if(window.location.hash != ''){
        comment_id = window.location.hash.split('#')[1];
        // 定位到评论位置
        $('html').animate({scrollTop:$('#comment-'+comment_id).offset().top-150}, 300);
    }

</script>
    
{% endblock %}

{% endblock %}