* {
        margin: 0;
        padding: 0
    }

body {
    padding-top: 70px!important
}

ul {
    list-style-type: none;
}
button#info {
    background: #f8f8f8;
    border: none;
    margin: 1em;
}




