* {
        margin: 0;
        padding: 0
    }

body {
    padding-top: 70px!important
}

ul {
    list-style-type: none;
}
a#info {
    background: #f8f8f8;
    border: none;
    margin-top: 0;
    padding-top: 8px;
    padding-bottom: 5px;
}
img.img-rounded{
    width:32px;
    margin-right: 6px;
    margin-bottom: 5px;
}
/*返回顶部*/
a.scrollTop{
    background: #ccc;
    /*固定定位*/
    position: fixed;
    right:0;
    bottom:80px;
    padding: 10px;
    border-right: none;
    border-radius: 6px 0 0 6px;
}
span.glyphicon-arrow-up{
    margin:0 5px 0 5px;
    color: white;
}
a.scrollTop:hover{
    background: #898585;
}
.footer{
    text-align: center;
    background: #ccc;
    padding: 0.5em 0;
    color:#3e3c3c;
    margin-top: 1.5em;
}