* {
        margin: 0;
        padding: 0;
    }
html{
    height: 100%;
}
body {
    padding-top: 70px!important;
    height: 100%;
    min-height: 100%;
}
nav.navbar{
     box-shadow: 0 0.5px 5px #d0d4d8;
}
ul {
    list-style-type: none;
}
.panel-heading h3{
    margin:0.6em 0;
}
a#info {
    background: #f8f8f8;
    border: none;
    margin-top: 0;
    padding-top: 8px;
    padding-bottom: 5px;
}
img.img-rounded{
    width:32px;
    margin-right: 6px;
    margin-bottom: 5px;
}
/*返回顶部*/
a.scrollTop{
    background: #ccc;
    /*固定定位*/
    position: fixed;
    right:0;
    bottom:80px;
    padding: 10px;
    border-right: none;
    border-radius: 6px 0 0 6px;
}
span.glyphicon-arrow-up{
    margin:0 5px 0 5px;
    color: white;
}
a.scrollTop:hover{
    background: #898585;
}
/*保证页脚始终在页面底部*/
.wrapper{
   min-height: 100%;
   height: auto!important;
   height: 100%;
}
.page{
    padding-bottom: 40px;
}
.footer{
    position: relative;
    margin-top: -40px;
    text-align: center;
    width:100%;
    clear: both;
    background: #ededed;
    padding: 0.5em 0 ;
    color:#3e3c3c;
    height: 40px;
}
/***********************/
div.am-form-group{
    margin:10px 10px 0;
}
a.am-icon-search{
    color: black;
}

