h3.home_content {
    font-size: 222%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    /*position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)*/
}

div#container {
   margin: 0 auto;
   height: 20em;
   min-width: 20em;
   max-width: 30em;
}

div.hot-blog {
  text-align: center;
}